<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewPost</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="page-new">

    <div class="form-card">
        <form method="POST" action="/posts">
        <input type="text" name="username" placeholder="Enter username" required>
        <br><br>
        <textarea name="content" placeholder="Enter content" required></textarea>
        <br><br>
        <button>Add Post</button>
    </div>
</form>

</body>
</html>